.App {
    text-align: center;    
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #011419;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.visibility_style{
    display:none;
}