.main_film_block {     
   width: 65%;
   margin:auto;
   padding: 0%;   
}

.film_information_block {
    background-color: #2e2f3b;
    padding: 1%;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;   
    margin-top: 5%;
}

.image_film_block {
    text-align: left;
    background-color: darkkhaki;
    width: 30%;
    display: block;
    float: left;    
    margin-right: 15%;
    box-shadow: 0 0 5px 2px yellowgreen;
}

.image{
    display: inline-block;
    width: 100%;
}

.main_inform_film_block {  
    float:left;   
    display: block;    
    max-width: 500px;    
}

.reviews_block {
    text-align: left;
    box-shadow: 0 0 5px 2px yellowgreen;
    border-radius: 4px;
    color: yellowgreen;
    padding: 0.5%;
    margin-top: 2%;
    }

.review_inform_block {
    margin-top: 1%;  
    padding: 0.5%;
}

.reviews_data_block{
    background-color: #2e2f3b;
    padding: 15px;
    margin-top: 50px;
}

.main_inform_review_block {
    padding: 5px;    
    text-align: right;
}

.text_review_block {
    padding: 10px;
    text-align: left;
    color: yellowgreen;
    min-height: 300px;
    max-height: 500px;
    background-color: #110729;
}

.add_review_block {    
    width: 100%;
    margin-top: 0.5%;
    text-align: right;
}

.both-block{
    width:100%;
    height:1px;
    clear:both;
}

.inform-container{    
    color: #abc730;
    display:table;
    font-size: 25px;
}

