.main_film_block{
    background-color: #0f0b42;
    padding: 4%; 
    overflow: hidden;  
}

.film_block{
    background-color: brown;
    display: inline-block; 
    width:20%;   
    margin:5%;
    overflow: hidden;  
    }
.film_block img{
    height: 500px;
    width: 100%;  
    position: relative;  
    }