.main-films-block{    
    padding: 2%;    
}

.film-block{
   font-family: 'Times New Roman', Times, serif;
    display: inline-block; 
    width:20%;   
    margin:5%;
    overflow: hidden;  
    color: greenyellow; 
    background-color: rgb(29, 30, 34);
    border-radius: 5px;      
    }
.film-block img{
    height: 500px;
    width: 100%;  
    position: relative;  
    }
.main-search-block{
    margin: auto;
    color: aliceblue;    
}

.film-name-table{   
    margin: auto;
}

.film-name-td-found{
    color: black;
    background-color: rgb(206, 206, 4);
}

.main-search-block h6{
    display: inline;
    margin-left: 1.5%;
}

hr{
    width: 50%;
    background-color: aliceblue;
}



.submitB{ 
    border:none; 
    padding:0; 
    margin:0; 
    font-size:15px; 
    color:aliceblue; 
    background-color:transparent; 
    margin-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


