.main_films_block{    
    padding: 4%;    
}

.film_block{
    background-color: brown;
    display: inline-block; 
    width:20%;   
    margin:5%;
    overflow: hidden;  
    }
.film_block img{
    height: 500px;
    width: 100%;  
    position: relative;  
    }