.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 1% auto;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
}