.main-data-review-block{
    background-color: chocolate;
    min-width: 50%;
    max-width: 500px;
    margin: 3% auto auto auto;

    padding: 15px;
    text-align: left;
    
}
.main-review-block{
    padding: 10px;
    background-color: aliceblue;
}

.review-text-block{
    background-color: burlywood;
    padding: 10px;
    min-height:300px;
    max-height: 400px;
    position: relative;
    word-wrap: break-word;
    overflow-y: auto;
}

.review-date-block{
    background-color: cornflowerblue;
    display: block;     
    margin:0% 0% 2% 80%;
}

.main-comments-block{
    background-color: rgb(179, 146, 17);
    margin-top: 2%;
}

.comment-block{
    background-color: crimson;
    padding: 5px;
}

.comment-account-image{
    background-color: darkcyan;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
}

.review-likes-dislikes-buttons-block{
    margin-left: 80%;
}