.main-user-block {
    background-color: #161631;
    min-width: 50%;
    min-height: 350px;
    padding: 2%;
    min-height: 100%;
}

.user-main-inform-block {
    background-color: whitesmoke;
    min-height: 50%;
    min-width: 250px;
    max-width: 200px;
    overflow: hidden;
    padding: 2%;
    max-width: 40%;
    margin: auto;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    background-color: #2e2f3b;
}

.user-image-block {
    border: 1px solid yellowgreen;
    border-radius: 25px;
    background-color: #2e2f3b;
    min-height: 150px;
    text-align: left;
    float: left;
    overflow: hidden;
}

.user-inform-block {
    color: yellowgreen;
    background-color: #2e2f3b;
    min-height: 150px;
    display: inline-block;
    text-align: center;
    margin: 3% 1% 0% 0%;
    padding: 1%;
}

.user-review-block {
    background-color: rgb(40, 53, 15);
    min-height: 150px;
    margin-top: 2%;    
}

.user-review-block{
    border-radius: 10px;
    background-color: #3b3d4b;    
    padding: 1%;
    overflow: hidden;
}

.review-main-block{
    border: 1px solid yellowgreen;
    float: left;
    min-width: 30%;
    max-width: 30%;
    min-height: 300px;
    margin-left: 2.5%;
    background-color: #3b3d4b; 
    position: relative;
    padding: 10px;
    color: aliceblue;
    margin-top: 1%;
}

.review-likes-dislikes-block{    
    text-align: left;
    position: relative;;
    margin-bottom: 2%;
    margin-left: 85%;
    margin-top:2% ;
    bottom:0;
}

#reviewHeader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#textOfReview{
    min-height: 400px;
    padding: 20px;
    background-color: rgb(51, 41, 112);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.update_user_block {    
    width: 100%;
    margin-top: 0.5%;
    text-align: right;
}
#reviewDate{
    text-align: left;
    font-family: sans-serif;
}
#likes{
    color: #04a334;
}
#dislikes{
    color: crimson;;
}
#account-img {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
}
#updateButton{
    margin-top: 25%;
    display: block;
    clear: both;
    padding: 1%;
    text-align: right;    
}