.main-user-block {
    background-color: #2e2f3b;
    min-width: 50%;
    min-height: 350px;
    padding: 2%;
    min-height: 100%;
}

.user-main-inform-block {
    background-color: whitesmoke;
    min-height: 50%;
    min-width: 250px;
    max-width: 200px;
    overflow: hidden;
    padding: 2%;
    max-width: 40%;
    margin: auto;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    background-color: #2e2f3b;
}

.user-image-block {
    border: 1px solid yellowgreen;
    border-radius: 25px;
    background-color: #2e2f3b;
    min-height: 150px;
    text-align: left;
    float: left;
    overflow: hidden;
}

.user-inform-block {
    color: yellowgreen;
    background-color: #2e2f3b;
    min-height: 150px;
    display: inline-block;
    text-align: center;
    margin: 3% 1% 0% 0%;
    padding: 1%;
}

.user-review-block {
    background-color: rgb(40, 53, 15);
    min-height: 150px;
    margin-top: 2%;
}

#account-img {
    min-width: 300px;
    min-height: 300px;
}

#updateButton{
    margin-top: 25%;
    display: block;
    clear: both;
    padding: 1%;
    text-align: right;    
}